* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f1f3f6b9;
}


/* -------------------------------------Navbar-------------------------------------------------- */
.navbar {
    display: grid;
    background-color: #2874f0;
    grid-template-columns: 1.3fr 1fr;

}


/* ---------------left side---------------------- */
.nav-left {
    display: flex;
    justify-content: flex-end;
}

.searchbar {
    position: relative;
    width: 50%;
    margin: 10px;
    box-sizing: border-box;
}

.searchbar input {
    height: 20px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    outline: none;
}

.searchicon {
    position: absolute;
    right: 0px;
    top: 9px;
}

.downarrow {
    transform: rotate(270deg);
}

.logo {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    justify-content: center;
    font-weight: bolder;
}

.flipkart-txt-icon {
    height: 20px;
    width: 90px;
}

.logo span {
    font-style: italic;
}

.logo-txt {
    font-size: 15px;
}

.plus-icon {
    width: 15px;
    height: 15px;
}



/* -----------------right side---------------------------- */

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 70px;
    box-sizing: border-box;
    font-weight: bolder;
    color: white;
    margin-right: 100px;
}

.login {
    background-color: white;
    color: blue;
    padding: 10px 55px;
}

.more {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.more img {
    width: 17px;
    filter: invert(1);
}

.cart {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.cart img {
    width: 25px;
    filter: invert(1);

}


/* -----------------------------------------Category section------------------------------ */


.category {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 60px;
    padding: 10px 0px;
    flex-wrap: wrap;
}

.category img {
    height: 90px;
}

.category-box {
    text-align: center;
}


/* --------------------------------main conatiner----------------------------------- */


/* --------------------first container------------------------- */

.first-row {
    display: grid;
    grid-template-columns: 7fr 1fr;
    column-gap: 20px;
    margin: 15px 0px;
}

.container {
    margin: 20px 80px;
}

.card-container {
    background-color: white;
    overflow-x: hidden;
}

.flipkart-timer {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.card-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 15px;
    border-bottom: 1px solid gainsboro;
}

.card-container-top-left {
    display: flex;
    column-gap: 20px;
    align-items: center;

}

.card-container-top-left span {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.card-container-top-left span h3 {
    font-weight: 300;
    color: grey;
}

.view-all-btn {
    background-color: rgb(62, 62, 247);
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 3px;
}


.card-container-bottom {
    padding: 0px 20px;
    display: flex;
    column-gap: 15px;
    overflow-x: hidden;
    position: relative;
}

.rigtharr {
    transform: rotate(180deg);
}

.side-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100px;
    font-size: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.side-arrow:hover {
    cursor: pointer;
}

.card {
    padding: 5px 20px;
    border-radius: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    /* border: 1px solid red; */
}

.card-top {
    height: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    padding: 10px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.card-offer {
    color: rgba(117, 163, 47, 0.836);
}

.card-txt {
    color: grey;
}

.mrg-img {
    height: 100%;
}


/* -------------------------------second row----------------------------------------------- */


.second-card-container-top-left h4 {
    font-weight: 300;
    color: grey;
}


@media only screen and (max-width: 1300px) {
    .navbar {
        grid-template-columns: 1fr;
        padding: 10px 20px;
        row-gap: 20px;
    }

    .nav-left {
        justify-content: center;
    }

    .nav-right {
        margin-right: 0;
        justify-content: center;
    }

    .mrg-div {
        display: none;
    }

    .first-row {
        grid-template-columns: 1fr;
    }

    .container {
        margin: 20px 40px;
    }
}

@media only screen and (max-width: 700px) {
    .category img {
        height: 35px;
    }

    .category-box h5 {
        font-size: 12px;
    }

    .searchbar {
        display: none;
    }

    .nav-right {
        margin-right: 30px;
        column-gap: 30px;
        margin-left: 30px;
    }

    .navbar {
        grid-template-columns: 2fr 6fr;
        padding: 10px 20px;
        row-gap: 0px;
    }

    .login {
        padding: 5px 30px;
    }

    .flipkart-txt-icon {
        height: 15px;
        width: 50px;
    }

    .logo-txt {
        font-size: 7px;
    }

    .plus-icon {
        width: 7px;
        height: 7px;
    }

    .card-container-top-left h2 {
        font-size: 18px;
    }

    .second-card-container-top-left h4 {
        font-size: 14px;
    }

    .flipkart-timer {
        width: 20px;
        height: 20px;
    }

    .second-card-container-top-left h2 {
        font-size: 18px;
    }

    .card-container-top-left {
        flex-direction: column;
        row-gap: 8px;
    }

    .card-container-top-left span h3 {
        font-size: 14px;
    }

    .container {
        margin: 15px 9px;
    }

    .view-all-btn {
        padding: 10px 20px;
        font-size: 14px;
    }

    .side-arrow {
        display: none;
    }
    .card {
        padding: 5px 10px;
    }

    .card-container-bottom {
        flex-wrap: wrap;
        column-gap: 8px;
        row-gap: 8px;
        justify-content: space-around;
    }
    .card-top {
        height: 116px;
    }
    .card-top img{
        height: 106px;
    }
    .card-title{
        font-size: 13px;
    }
    .card-offer{
        font-size:12px;
    }
     .card-txt{
        font-size: 10px;
    }
}

@media only screen and (max-width: 380px) {
    .navbar {
        grid-template-columns: 1fr;
    }
    .nav-right {
        margin-right: 10px;
        column-gap: 20px;
        margin-left: 10px;
        font-size: 14px;
        margin-top: 10px;
    }

}